In [71]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score, recall_score, precision_score
from sklearn.utils import shuffle

In [72]:
df_train = pd.read_csv('glass.csv')

In [73]:
df_train

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [74]:
total = df_train.isnull().sum().sort_values(ascending=False)
percent = (df_train.isnull().sum()/df_train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=["Total", "Percent"])
missing_data.head(20)

      Total  Percent
Type      0      0.0
Fe        0      0.0
Ba        0      0.0
Ca        0      0.0
K         0      0.0
Si        0      0.0
Al        0      0.0
Mg        0      0.0
Na        0      0.0
RI        0      0.0

In [75]:
print("Type: ",df_train.Type.unique())

Type:  [1 2 3 5 6 7]

In [76]:
df_train

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [36]:
import time
import numpy as np
from itertools import combinations_with_replacement
from sympy.core import Mul
import pandas as pd
import statsmodels.api as sm
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score, recall_score, precision_score
from sklearn.utils import shuffle

In [37]:
def new_features(variables):
    variables=variables.tolist()
    max_degree = 4
    min_degree = 0
    if not variables or max_degree == 0:
        return np.array([1])
    variables = np.array(list(variables) + [1])
    monomials_list_comm = np.empty(0)
    for item in combinations_with_replacement(variables, max_degree):
        powers = dict()
        for variable in variables:
            powers[variable] = 0
        for variable in item:
            if variable != 1:
                powers[variable] += 1
        if max(powers.values()) >= min_degree:
            monomials_list_comm = np.append(monomials_list_comm,Mul(*item))
    return np.array(list(monomials_list_comm))

In [38]:
def compute_cost(W, X, Y):
    # calculate hinge loss
    N = X.shape[0]
    distances = 1 - Y * (np.dot(X, W))
    distances[distances < 0] = 0  # equivalent to max(0, distance)
    hinge_loss = regularization_strength * (np.sum(distances) / N)

    # calculate cost
    cost = 1 / 2 * np.dot(W, W) + hinge_loss
    return cost

In [39]:
def calculate_cost_gradient(W, X_batch, Y_batch):
    # if only one example is passed (eg. in case of SGD)
    if type(Y_batch) == np.float64:
        Y_batch = np.array([Y_batch])
        X_batch = np.array([X_batch])  # gives multidimensional array

    distance = 1 - (Y_batch * np.dot(X_batch, W))
    dw = np.zeros(len(W))
    
    for ind, d in enumerate(distance):
        if max(0, d) == 0:
            di = W
        else:
            di = W - (regularization_strength * Y_batch[ind] * X_batch[ind])
        dw += di

    dw = dw/len(Y_batch)  # average
    return dw

In [40]:
def sgd(features, outputs):
    max_epochs = 5000
    weights = np.zeros(features.shape[1])
    nth = 0
    prev_cost = float("inf")
    cost_threshold = 0.01  # in percent
    # stochastic gradient descent
    for epoch in range(1, max_epochs):
        # shuffle to prevent repeating update cycles
        X, Y = shuffle(features, outputs)
        for ind, x in enumerate(X):
            ascent = calculate_cost_gradient(weights, x, Y[ind])
            weights = weights - (learning_rate * ascent)

        # convergence check on 2^nth epoch
        if epoch == 2 ** nth or epoch == max_epochs - 1:
            cost = compute_cost(weights, features, outputs)
            print("Epoch is: {} and Cost is: {}".format(epoch, cost))
            # stoppage criterion
            
            prev_cost = cost
            nth += 1
    return weights

In [41]:
def init3():
    print("reading dataset...")
    # read data in pandas (pd) data frame
    data = pd.read_csv('glass.csv')
    print(data.head())

    # drop last column (extra column added by pd)
    # and unnecessary first column (id)
    data.drop(data.columns[[0]], axis=1, inplace=True)
    
    #Mapping values of target variable quality to 'low', 'medium' and 'high' categories for classification
    data['Type']=data['Type'].map({1:'low',2:'low',3:'low', 5:'medium', 6:'medium', 7:'high'})  
    #df['quality']=df['quality'].map({'low':0,'medium':1,'high':2})
    
    
    diag_map = {'low': 1.0, 'medium': -1.0,'high':-1.0}
    data['Type'] = data['Type'].map(diag_map)
    
    
    
    # put features & outputs in different data frames
    Y = data.loc[:, 'Type']
    X = data.iloc[:, 0:-1]
    # filter features
    #remove_correlated_features(X)
    #Xnew = np.apply_along_axis(new_features, 1, X)
    #remove_less_significant_features(X, Y)
    # normalize data for better convergence and to prevent overflow
    #X_normalized = MinMaxScaler().fit_transform(Xnew)
    #X = pd.DataFrame(X_normalized)

    # insert 1 in every row for intercept b
    #X.insert(loc=len(X.columns), column='intercept', value=1)

    # split data into train and test set
    print("splitting dataset into train and test sets...")
    X_train, X_test, y_train, y_test = tts(X, Y, test_size=0.2, random_state=42)
    # train the model
    print("training started...")
    W = sgd(X_train.to_numpy(), y_train.to_numpy())
    print("training finished.")
    print("weights are: {}".format(W))
    print(W.shape)
    # testing the model
    print("testing the model...")
    y_train_predicted = np.array([])
    for i in range(X_train.shape[0]):
        yp = np.sign(np.dot(X_train.to_numpy()[i], W))
        y_train_predicted = np.append(y_train_predicted, yp)

    y_test_predicted = np.array([])
    for i in range(X_test.shape[0]):
        yp = np.sign(np.dot(X_test.to_numpy()[i], W))
        y_test_predicted = np.append(y_test_predicted, yp)
    # An unknow data given by me to check which class it belongs to
    #a = np.array([0.8, 0.6, 0.75, 0.75, 1])
    #yp = np.sign(np.dot(a, W))
    #print("Y value for a : ",yp)
    print("accuracy on test dataset: {}".format(accuracy_score(y_test, y_test_predicted)))
    print("recall on test dataset: {}".format(recall_score(y_test, y_test_predicted)))
    print("precision on test dataset: {}".format(recall_score(y_test, y_test_predicted)))

In [42]:
regularization_strength = 1000
learning_rate = 0.001

In [43]:
start = time.time()
init3()
end = time.time()
print("Time taken to Evaluate: ",end - start)

reading dataset...
        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1
splitting dataset into train and test sets...
training started...
Epoch is: 1 and Cost is: 433355.85874132754
Epoch is: 2 and Cost is: 743982.0331524357
Epoch is: 4 and Cost is: 348601.92269628827
Epoch is: 8 and Cost is: 60117.23370016706
Epoch is: 16 and Cost is: 931094.4424995758
Epoch is: 32 and Cost is: 62888.15009307255
Epoch is: 64 and Cost is: 257035.4333871593
Epoch is: 128 and Cost is: 840830.7037261883
Epoch is: 256 and Cost is: 692308.8447983871
Epoch is: 512 and Cost is: 82294.64631625357
Epoch is: 1024 and Cost is: 141944.56878714214
Epoch is: 2048 and Cost is: 219796.92623329844
Epoch is: 4096 and Cost is: 99183.25143361399
Epoch is: 4999 and Cost is: 915941.0284530055
training finished.
weights are: [-57.53123582 211.95546428 -73.88084262  60.13465118 -25.4193472
  69.79408037 -63.40280766   8.53822805]
(8,)
testing the model...
accuracy on test dataset: 0.6511627906976745
recall on test dataset: 1.0
precision on test dataset: 1.0
Time taken to Evaluate:  14.713375806808472

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score, recall_score, precision_score
from sklearn.utils import shuffle

In [2]:
df_train = pd.read_csv('glass.csv')

In [3]:
df_train

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [4]:
# drop last column (extra column added by pd)
    # and unnecessary first column (id)
df_train.drop(df_train.columns[[0]], axis=1, inplace=True)
    
    #Mapping values of target variable quality to 'low', 'medium' and 'high' categories for classification
df_train['Type']=df_train['Type'].map({1:'low',2:'low',3:'low', 5:'medium', 6:'medium', 7:'high'})  
    #df['quality']=df['quality'].map({'low':0,'medium':1,'high':2})
    
    
diag_map = {'low': 1.0, 'medium': -1.0,'high':-1.0}
df_train['Type'] = df_train['Type'].map(diag_map)

In [5]:
df_train

        Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0   1.0
1    13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0   1.0
2    13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0   1.0
3    13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0   1.0
4    13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0   1.0
..     ...   ...   ...    ...   ...   ...   ...  ...   ...
209  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0  -1.0
210  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0  -1.0
211  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0  -1.0
212  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0  -1.0
213  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0  -1.0

[214 rows x 9 columns]

In [6]:
df_lable1 = df_train["Type"]

In [7]:
df_lable1

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
209   -1.0
210   -1.0
211   -1.0
212   -1.0
213   -1.0
Name: Type, Length: 214, dtype: float64

In [8]:
df_train.drop('Type',axis=1,inplace=True)

In [9]:
df_train

        Na    Mg    Al     Si     K    Ca    Ba   Fe
0    13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1    13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2    13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3    13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4    13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..     ...   ...   ...    ...   ...   ...   ...  ...
209  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 8 columns]

In [19]:
import time
from sklearn.model_selection import train_test_split

In [20]:
from sklearn.svm import SVC
X_train, X_test, y_train, y_test = train_test_split(df_train,df_lable1,test_size = 0.5)

In [21]:
model = SVC(kernel = 'rbf')
model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [22]:
start = time.time()

score = model.score(X_test,y_test)
print(score)
end = time.time()
print("Time taken to Evaluate: ",end - start)

0.6635514018691588
Time taken to Evaluate:  0.0039899349212646484

In [23]:
import time
import numpy as np
import pandas as pd
import statsmodels.api as sm
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score, recall_score, precision_score
from sklearn.utils import shuffle

In [24]:
def lvec(a):
    n = a.shape[0]
    s = np.empty(0)
    for i in range(n):
        temp = a[i]*a[i:]
        temp[0] = temp[0]/2
        s = np.append(s,temp)
    return s

In [25]:
def create_z(x):
    s = lvec(x)
    z = np.empty(0)
    z = np.append(z,s)
    z = np.append(z,x)
    z = np.append(z,1)
    return z

In [26]:
def create_r(x):
    z = create_z(x)
    eta = lvec(z)
    s = lvec(x)
    r = np.empty(0)
    r = np.append(r,eta)
    r = np.append(r,s)
    return r

In [27]:
def new_feature(x):
    r = create_r(x)
    xnew = np.empty(0)
    xnew = np.append(xnew,r)
    xnew = np.append(xnew,x)
    xnew = np.append(xnew,1)
    return xnew

In [28]:
def remove_correlated_features(X):
    corr_threshold = 0.9
    corr = X.corr()
    drop_columns = np.full(corr.shape[0], False, dtype=bool)
    for i in range(corr.shape[0]):
        for j in range(i + 1, corr.shape[0]):
            if corr.iloc[i, j] >= corr_threshold:
                drop_columns[j] = True
    columns_dropped = X.columns[drop_columns]
    X.drop(columns_dropped, axis=1, inplace=True)
    return columns_dropped


def remove_less_significant_features(X, Y):
    sl = 0.05
    regression_ols = None
    columns_dropped = np.array([])
    for itr in range(0, len(X.columns)):
        regression_ols = sm.OLS(Y, X).fit()
        max_col = regression_ols.pvalues.idxmax()
        max_val = regression_ols.pvalues.max()
        if max_val > sl:
            X.drop(max_col, axis='columns', inplace=True)
            columns_dropped = np.append(columns_dropped, [max_col])
        else:
            break
    regression_ols.summary()
    return columns_dropped

In [29]:
def compute_cost(W, X, Y):
    # calculate hinge loss
    N = X.shape[0]
    distances = 1 - Y * (np.dot(X, W))
    distances[distances < 0] = 0  # equivalent to max(0, distance)
    hinge_loss = regularization_strength * (np.sum(distances) / N)

    # calculate cost
    cost = 1 / 2 * np.dot(W, W) + hinge_loss
    return cost

In [30]:
def calculate_cost_gradient(W, X_batch, Y_batch):
    # if only one example is passed (eg. in case of SGD)
    if type(Y_batch) == np.float64:
        Y_batch = np.array([Y_batch])
        X_batch = np.array([X_batch])  # gives multidimensional array

    distance = 1 - (Y_batch * np.dot(X_batch, W))
    dw = np.zeros(len(W))

    for ind, d in enumerate(distance):
        if max(0, d) == 0:
            di = W
        else:
            di = W - (regularization_strength * Y_batch[ind] * X_batch[ind])
        dw += di

    dw = dw/len(Y_batch)  # average
    return dw

In [31]:
def sgd(features, outputs):
    max_epochs = 5000
    weights = np.zeros(features.shape[1])
    nth = 0
    prev_cost = float("inf")
    cost_threshold = 0.01  # in percent
    # stochastic gradient descent
    for epoch in range(1, max_epochs):
        # shuffle to prevent repeating update cycles
        X, Y = shuffle(features, outputs)
        for ind, x in enumerate(X):
            ascent = calculate_cost_gradient(weights, x, Y[ind])
            weights = weights - (learning_rate * ascent)

        # convergence check on 2^nth epoch
        if epoch == 2 ** nth or epoch == max_epochs - 1:
            cost = compute_cost(weights, features, outputs)
            print("Epoch is: {} and Cost is: {}".format(epoch, cost))
            # stoppage criterion
            if abs(prev_cost - cost) < cost_threshold * prev_cost:
                return weights
            prev_cost = cost
            nth += 1
    return weights

In [32]:
def init3():
    print("reading dataset...")
    # read data in pandas (pd) data frame
    data = pd.read_csv('glass.csv')
    print(data.head())

    # drop last column (extra column added by pd)
    # and unnecessary first column (id)
    data.drop(data.columns[[0]], axis=1, inplace=True)
    
    #Mapping values of target variable quality to 'low', 'medium' and 'high' categories for classification
    data['Type']=data['Type'].map({1:'low',2:'low',3:'low', 5:'medium', 6:'medium', 7:'high'})  
    #df['quality']=df['quality'].map({'low':0,'medium':1,'high':2})
    
    
    diag_map = {'low': 1.0, 'medium': -1.0,'high':-1.0}
    data['Type'] = data['Type'].map(diag_map)
    
    
    
    # put features & outputs in different data frames
    Y = data.loc[:, 'Type']
    X = data.iloc[:, 0:-1]
    # filter features
    #remove_correlated_features(X)
    #Xnew = np.apply_along_axis(new_features, 1, X)
    #remove_less_significant_features(X, Y)
    # normalize data for better convergence and to prevent overflow
    #X_normalized = MinMaxScaler().fit_transform(Xnew)
    #X = pd.DataFrame(X_normalized)

    # insert 1 in every row for intercept b
    X.insert(loc=len(X.columns), column='intercept', value=1)

    # split data into train and test set
    print("splitting dataset into train and test sets...")
    X_train, X_test, y_train, y_test = tts(X, Y, test_size=0.2, random_state=42)
    # train the model
    print("training started...")
    W = sgd(X_train.to_numpy(), y_train.to_numpy())
    print("training finished.")
    print("weights are: {}".format(W))
    print(W.shape)
    # testing the model
    print("testing the model...")
    y_train_predicted = np.array([])
    for i in range(X_train.shape[0]):
        yp = np.sign(np.dot(X_train.to_numpy()[i], W))
        y_train_predicted = np.append(y_train_predicted, yp)

    y_test_predicted = np.array([])
    for i in range(X_test.shape[0]):
        yp = np.sign(np.dot(X_test.to_numpy()[i], W))
        y_test_predicted = np.append(y_test_predicted, yp)
    # An unknow data given by me to check which class it belongs to
    #a = np.array([0.8, 0.6, 0.75, 0.75, 1])
    #yp = np.sign(np.dot(a, W))
    #print("Y value for a : ",yp)
    print("accuracy on test dataset: {}".format(accuracy_score(y_test, y_test_predicted)))
    print("recall on test dataset: {}".format(recall_score(y_test, y_test_predicted)))
    print("precision on test dataset: {}".format(recall_score(y_test, y_test_predicted)))

In [33]:
regularization_strength = 10000
learning_rate = 0.000001

In [34]:
start = time.time()

init3()

end = time.time()
print("Time taken to Evaluate: ",end - start)

reading dataset...
        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1
splitting dataset into train and test sets...
training started...
Epoch is: 1 and Cost is: 102825.1295010567
Epoch is: 2 and Cost is: 88047.28981434723
Epoch is: 4 and Cost is: 58877.758513027606
Epoch is: 8 and Cost is: 10651.62744096841
Epoch is: 16 and Cost is: 49910.05536844987
Epoch is: 32 and Cost is: 15084.761558395401
Epoch is: 64 and Cost is: 12623.427849848227
Epoch is: 128 and Cost is: 13560.293442045426
Epoch is: 256 and Cost is: 21004.031472612493
Epoch is: 512 and Cost is: 20823.971694641474
training finished.
weights are: [ -8.01901245  27.92260973 -17.03162323   0.19595867  -5.53187436
   9.67582571  -5.7146307    2.47924549   0.05629694]
(9,)
testing the model...
accuracy on test dataset: 0.9302325581395349
recall on test dataset: 1.0
precision on test dataset: 1.0
Time taken to Evaluate:  1.575798511505127

In [1]:
import time
import numpy as np
from itertools import combinations_with_replacement
import pandas as pd
from sklearn.svm import SVR
from sklearn.svm import LinearSVR as LSVR
from sklearn.preprocessing import MinMaxScaler

In [2]:
df_train = pd.read_csv('glass.csv')

In [3]:
df_train

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [4]:
def Multiply(a):
    ans = 1
    for i in a:
        ans*=i
    return ans

In [5]:
def Create_features(variables):
    ans = []
    for i in range(1,5):
        l = list(combinations_with_replacement(variables, i))
        for j in l:
            ans.append(Multiply(j))
            #print(Multiply(j))
    #ans.append(1)
    ans = np.array(ans).astype(float)
    return ans.reshape((ans.shape[0],1))

In [11]:
col = df_train.columns
df_train[col[:-2]] = MinMaxScaler().fit_transform(df_train[col[:-2]])
df_train.head()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe
0,0.432836,0.437594,1.000000,0.252336,0.351786,0.009662,0.308550,0.0,0.0
1,0.283582,0.475188,0.801782,0.333333,0.521429,0.077295,0.223048,0.0,0.0
2,0.220808,0.421053,0.790646,0.389408,0.567857,0.062802,0.218401,0.0,0.0
3,0.285777,0.372932,0.821826,0.311526,0.500000,0.091787,0.259294,0.0,0.0
4,0.275241,0.381955,0.806236,0.295950,0.583929,0.088567,0.245353,0.0,0.0

In [12]:
start = time.time()
X = df_train.to_numpy()
#Y = np.reshape(Y,(Y.shape[0],1))
Xnew = []
for i in range(X.shape[0]):
    if (i%500==0):
        print("Row Count: ",i)
    Xnew.append(Create_features(X[i]))
Xnew = np.array(Xnew)
X = np.reshape(Xnew,Xnew.shape[0:2])
regr = LSVR(max_iter=50000).fit(X,Y)
print("Coefficients are: ",regr.coef_)
print("Intercept is: ",regr.intercept_)
print("Score is: ",regr.score(X,Y))
end = time.time()
print("Time taken to Evaluate: ",end-start)

Row Count:  0
Coefficients are:  [-1.32616306e-01  1.04415384e+00 -5.70536326e-01  1.37261650e+00
  4.71435417e-01  7.59345863e-02  4.81260553e-01  4.50440518e-01
 -7.87815786e-02 -2.04622317e-01  1.79399440e-01 -4.15725795e-01
  3.84033006e-01 -2.27684119e-01 -4.96877964e-02 -9.53276132e-02
 -9.21701277e-02  1.45815101e-01  5.84731078e-01  4.04657988e-02
  6.70496146e-01  3.78979680e-01 -1.34297065e-02  4.99045094e-01
  1.44125104e-01  5.39617762e-02 -4.59705079e-01 -7.87643846e-02
 -7.25942411e-01 -1.50384619e-01 -2.46511294e-01  2.24085352e-01
  2.00090646e-01  6.49456211e-01  6.51479221e-01  4.22380539e-02
  7.25565587e-01  6.42478279e-02 -1.79339269e-01  3.58712327e-01
  8.56808433e-02  1.42090664e-01  2.69770251e-01 -2.11963870e-01
  1.74198613e-01 -3.88922814e-02  2.11620928e-01 -2.39387057e-02
  1.13865360e-01  5.03808324e-02 -6.83146496e-02  4.59451451e-01
  1.11598516e-01  2.68497892e-01 -1.08698262e-01  2.20342172e-02
 -4.81886178e-02  1.31034047e-01 -2.47540949e-01 -8.67004789e-03
 -1.61320894e-01  5.45813643e-03  7.87666072e-02  1.81752327e-01
 -1.37775967e-01  2.25738218e-01  1.63147320e-02 -2.56615661e-02
  1.04525879e-01 -1.14676789e-02  8.60172700e-02 -3.39012173e-01
 -1.44530364e-01 -4.35729246e-01 -8.10039374e-02 -4.55777104e-03
 -2.13530918e-01  2.21341321e-01  3.00453923e-01  1.71455703e-01
 -1.35569679e-02  2.26739034e-01 -6.14409146e-02 -1.45602976e-02
 -4.45504050e-02 -2.16577473e-02 -1.42901008e-01 -4.35700145e-02
  1.58571078e-02  2.15182359e-02 -1.28541212e-02 -2.95542810e-02
  3.72882531e-05 -1.71998121e-01  3.65395961e-02  1.92075601e-02
 -3.67989585e-02  4.69134641e-02  1.61551473e-01  2.40633063e-01
  9.80357288e-02  3.37844745e-01  2.00696721e-01 -8.11951259e-03
  3.39221470e-01  4.42707918e-02  2.99011904e-02 -3.31807071e-02
  4.47127849e-02 -2.94078715e-02 -3.30457899e-02 -2.91863571e-02
  1.10925104e-01  1.27639770e-01  2.58352407e-01  2.82102177e-01
  4.65980985e-03  3.76753448e-01 -4.95815693e-02 -4.33859395e-02
  1.64793876e-01 -2.73296472e-02  1.90308364e-01  3.64445468e-02
 -3.36429256e-02  4.08518516e-02 -2.82628371e-02  8.78042471e-02
  2.65532271e-03  2.32687496e-01  3.48338021e-02  1.17474224e-02
  1.34384245e-01  4.85644708e-02  1.38608048e-01  3.98101639e-02
 -2.09014678e-01 -6.44762266e-01 -4.69807248e-02 -2.91093513e-01
  2.58217438e-03  2.45915920e-01  5.46409268e-02 -1.01056776e-01
 -2.47969032e-02 -5.35888367e-02  9.20002827e-02 -3.98284814e-02
 -5.43947914e-01 -1.54522449e-01 -3.41360110e-01  3.20630520e-01
 -6.48930689e-02  9.80669864e-03 -9.94360174e-02  1.29534962e-01
  1.45709245e-02  4.95263319e-02 -9.27499286e-02  9.15630799e-02
  3.88266013e-01  4.42957684e-02  1.99588283e-01  1.37707297e-01
  2.51400259e-01  1.52415602e-02  4.39442116e-01 -1.25462135e-01
 -7.93952441e-02  4.03524900e-01  1.16858767e-02  3.64316708e-01
  7.56423564e-02 -1.43305850e-01  5.74864527e-02 -6.37531507e-03
  7.54438284e-02 -1.04883991e-02  3.78191412e-01  2.78380497e-02
 -9.08046580e-02 -8.33414710e-02  5.20985516e-02  7.77122228e-02
  3.08400316e-01  1.86578665e-01  1.54096078e-01  7.74732782e-02
 -1.72092346e-01  1.24205563e-01 -3.41526018e-03  1.53951759e-01
 -2.78651807e-02  1.11442563e-02  4.13813663e-03 -8.16355366e-02
  2.38494836e-01  4.15087369e-02  6.20995505e-02  8.92725360e-02
  3.74195339e-02  6.86225933e-02 -3.00510722e-03 -1.14115425e-02
 -6.64423142e-03 -2.06153672e-02  2.47916063e-01  1.04273030e-02
  1.34154500e-02 -1.31325129e-01  6.42360287e-02 -6.03949006e-02
  7.17616074e-02  3.97544020e-02  9.13856423e-02  1.06891171e-01
  5.44382960e-02  6.26166576e-02  1.64365753e-01  5.64468184e-03
 -1.03318932e-03  6.57712127e-02  4.59776906e-02 -2.11479002e-01
  3.76447557e-03 -7.07401620e-02  1.81249399e-02  5.53970966e-02
  4.99898950e-02 -3.13755583e-02  8.67268156e-02 -4.11131515e-02
 -5.82772750e-04  3.31116469e-03  2.72747383e-02  4.09158751e-02
 -7.01350913e-02 -3.34797535e-02 -1.29609797e-01 -1.15180902e-02
  6.95609813e-02 -7.07610354e-02  9.49313628e-02  1.31833763e-01
  5.01407678e-02 -3.70489176e-04  5.82331558e-02 -2.96272165e-04
 -6.11738487e-03 -7.37062915e-02 -8.69391565e-03 -2.06183617e-01
 -5.14373666e-03  2.31075135e-03  5.01014705e-03 -4.23892273e-03
 -7.37064338e-03 -2.99854701e-03 -1.42045666e-01  1.87593025e-02
  3.07699731e-02  6.89754934e-02  1.89356826e-02  7.27582642e-02
  1.30756854e-01 -3.17106479e-02  1.39346050e-01  5.52122100e-02
 -7.76311100e-03  9.47028250e-02  2.27631832e-02  3.27770858e-02
 -1.14717134e-01 -4.53063591e-02 -1.42012491e-01 -2.66219430e-02
 -7.18819116e-03 -8.49589068e-02  9.96814141e-02  1.51075459e-01
  8.31040258e-02 -4.74395789e-03  1.30248106e-01 -2.80098812e-02
  7.65033606e-03  2.60107862e-02 -2.53483439e-02  2.00435446e-02
 -2.51385301e-02  2.36814847e-02  2.46813622e-03 -4.49680221e-03
 -1.41700964e-02  5.73425465e-03  2.79571740e-02  3.18068923e-02
  2.18551557e-02  3.11364663e-02  1.83292765e-02  7.75469771e-02
 -1.41821705e-01 -1.68289563e-01 -3.50771772e-01 -4.60311093e-02
 -5.67731061e-02 -2.05652994e-01  1.99813351e-01 -1.90664908e-03
 -1.25310269e-01 -2.23332673e-02 -1.26144277e-02 -1.00329911e-01
  3.76415189e-02 -2.94221950e-01 -7.32384466e-02 -1.00915837e-01
 -6.18036002e-02  6.27611529e-02 -9.04214264e-03 -1.99187327e-02
 -2.98144694e-02  1.82535092e-02  8.49483282e-02 -3.85333816e-02
  6.99922458e-02 -1.66254414e-01  1.81593946e-02  1.24623182e-01
  1.51120831e-01  1.29939479e-01 -3.30457999e-03  1.75521499e-01
 -5.12160342e-02 -1.08957099e-02  1.20038894e-01 -9.85287045e-03
  1.17264176e-01 -1.96247842e-02 -1.90783142e-02  3.69880749e-03
 -1.31803074e-03 -1.96267527e-02 -2.11808416e-03  9.58245247e-02
  2.38489906e-02 -3.02856700e-02 -8.97546989e-02  2.36215569e-02
  4.55825443e-02  2.04886551e-02  2.08967143e-02 -1.28354574e-02
 -2.54945499e-02  1.06199621e-03  2.37962178e-02 -3.84878975e-03
 -6.57313740e-03 -3.48719340e-03 -1.77468359e-01  1.21107831e-02
 -1.98233359e-02 -5.85523672e-02  1.92410974e-02  5.32883968e-02
  1.38794849e-02  7.29723095e-03 -6.40392163e-03 -5.08859037e-04
 -7.18136963e-03 -8.21593604e-04 -9.42583983e-03 -3.13384145e-02
  4.56227453e-03  8.21525352e-03 -1.99922579e-01  2.15421446e-02
  1.67040626e-03  7.45609955e-02  1.70354970e-02  5.07256344e-02
  1.58836379e-02  1.98751197e-02  2.57120993e-02  8.12863668e-02
  4.63526230e-02  3.81036204e-02  1.62144428e-01  3.00775673e-02
 -4.00516681e-03  1.99461028e-01  1.79971207e-02  1.24717596e-02
 -2.93113456e-02  5.34316216e-02  8.30417588e-02 -5.20833513e-03
  4.01224788e-02  6.27289601e-02  6.85258596e-02  1.02550935e-01
  1.30419516e-01 -1.98941269e-04  2.06422134e-01 -6.35957968e-02
 -2.01689276e-02  6.25707669e-02 -1.92330045e-02  1.39537848e-01
 -3.62270763e-02 -5.23224384e-03  1.21686239e-02 -1.00931176e-02
  3.69119968e-02  2.21514379e-03  1.60255503e-01  2.72244877e-02
  3.01357507e-03  4.76191353e-02  2.52425283e-02  6.12930366e-02
  8.71311951e-02 -4.79419343e-02 -6.89553320e-02  6.26130003e-03
 -5.38947397e-02 -5.30247184e-03  1.44491180e-01  2.95791201e-02
  3.34726635e-02 -7.33123051e-03  2.65584563e-03  3.33896863e-02
 -1.06833758e-02 -2.26024767e-03 -4.12306997e-02 -8.27663995e-02
  1.46649989e-01  2.01722434e-03  7.25400226e-03 -3.32551190e-02
  5.18561016e-02  8.52365115e-03  1.56937056e-02 -2.97079245e-02
  4.89716259e-02  1.83705303e-01  1.61261989e-02  9.55113229e-02
  1.98376141e-02  6.72460912e-02  2.21471369e-03  2.09064445e-01
 -1.23655603e-01 -2.36788094e-02  1.48928570e-01 -1.31786358e-02
  1.64249395e-01 -2.78811085e-02 -3.88928778e-02  1.65765377e-02
 -2.99551385e-03  2.67703462e-02  5.34595491e-04  1.97391888e-01
  6.58030485e-03 -1.61752315e-02 -1.32509161e-01  2.14457812e-02
  3.97668253e-02  2.98305080e-02  6.93080998e-03  1.00926051e-01
 -3.32733129e-02 -4.12872196e-02  1.83051783e-02 -2.51032484e-02
  6.70623899e-02 -4.54493541e-03  1.01612329e-01 -8.73884976e-03
 -9.26989568e-03 -1.38014645e-02  1.96295866e-02  4.01850421e-02
  2.23307222e-02  5.97632268e-03  2.84534512e-02  3.25513986e-04
 -6.93651697e-03 -2.70334182e-03 -4.72945168e-04  1.04959130e-01
  3.03438621e-03  8.74122278e-03  8.03449673e-02  3.77572625e-02
 -2.75013749e-03  4.84270593e-02  1.59475713e-02  5.30758088e-02
 -6.36543646e-02  3.41167416e-02  2.18478148e-02  7.36358876e-02
  5.29229676e-01 -9.52664867e-02 -3.30715985e-01  2.76733072e-02
 -1.51531717e-01 -6.99676689e-02  2.79416635e-01 -7.73375947e-02
 -1.68492143e-01 -3.89628179e-03 -1.29784135e-01 -7.79860416e-04
 -1.95674823e-02 -5.46175126e-01 -8.32163412e-02 -3.39101756e-01
  1.63225897e-01 -1.37686720e-02  1.22698103e-02 -6.20899413e-02
  9.07983719e-02  1.70301047e-02 -4.38064606e-02 -1.14441459e-01
  9.63690000e-02  1.21557390e-01  2.56929529e-02  1.55525809e-01
  2.26710655e-02  3.39233187e-02 -7.05583771e-03  4.31711367e-02
  1.51326678e-02 -1.87687519e-02 -6.99902561e-02 -2.85038255e-02
 -7.90579498e-02  1.63731742e-01 -7.13115599e-02  7.12952877e-03
 -2.29718241e-02  4.56467643e-02  2.78133089e-03  1.43241474e-02
 -2.67250884e-02  1.08755603e-04  6.57045045e-02  1.77965989e-02
  4.56600766e-02 -3.70832263e-01 -1.18209726e-01 -2.41534541e-01
  2.35620453e-01 -1.07502734e-01 -1.57928095e-04 -8.36517631e-02
  9.93067628e-02 -7.53724729e-03 -5.99338117e-02 -2.12599450e-02
 -7.73361320e-04  4.25198924e-01  1.91476993e-02  3.86929033e-02
  8.45352302e-03 -1.00545995e-02  4.49144423e-02  1.15342029e-03
 -2.74936859e-02 -9.32993498e-03  7.08878768e-03  1.26812160e-01
  3.78118847e-03  1.32476421e-02  1.08534808e-01 -2.62305083e-02
  3.47140235e-02 -1.40274004e-02  1.55398788e-02  7.86768022e-02
  3.04603726e-01  7.76824944e-03  2.38422762e-02  1.01075757e-01
 -1.20381615e-01 -1.35263086e-02  1.08884018e-03  1.97344559e-01
 -2.17621961e-01 -2.87921734e-02  1.25931803e-01 -1.50696486e-02
  1.99328358e-01 -1.97982647e-02 -6.16481995e-02  2.33519075e-02
  1.97453502e-03  1.36704961e-02 -7.03182793e-04  2.40574524e-01
  8.29153471e-04 -4.29584549e-02 -2.95764713e-01  2.65025482e-02
  4.06293381e-02  2.69819772e-01  5.21056256e-02  2.26504039e-01
 -5.35844010e-03 -9.94375957e-02  1.57093172e-02 -6.41591180e-03
  7.17432283e-02 -1.07255862e-02  2.14621434e-01  1.58545744e-03
 -5.51758611e-02  6.41413213e-02  1.67234643e-02  1.64915200e-02
  3.23110281e-02  1.13855503e-02  2.58069755e-02 -7.54058101e-04
 -2.23274903e-03 -2.42160063e-03 -9.63916319e-03  5.88847946e-02
  6.44060419e-03  7.03349770e-03  1.66292639e-01  3.91570106e-02
 -6.16277293e-02  1.39708207e-02  1.95014634e-02  2.24082896e-02
 -5.53247026e-01  2.91191788e-02  3.42208079e-02  6.57659241e-02
  3.21127893e-01  2.43122164e-01  1.32230994e-01 -3.83475344e-02
 -1.19133554e-01  1.47683710e-01  4.46797828e-02  9.00403275e-02
 -2.19438135e-02  7.14857632e-02 -1.67621246e-02 -4.60362975e-02
  2.85187629e-02  1.22856542e-02  5.80832770e-03  4.29993287e-02
  3.42711797e-02  4.73377250e-02 -3.13482297e-03  4.84820781e-03
 -3.07231447e-03 -1.34062921e-02  2.05882966e-01  4.08733236e-03
  8.04323347e-04 -1.25781504e-01  3.06381405e-02 -5.26377346e-02
 -3.12086719e-02  1.47416170e-02  2.32370878e-02  2.40505508e-02
  1.94472488e-02  2.63542900e-02  5.37572726e-02  3.94028754e-02
  2.55224115e-02  2.05131745e-02 -3.28859660e-04  1.02692786e-02
 -5.04516864e-04 -2.64497466e-03  7.26614016e-02  1.43412033e-03
  1.04039446e-03 -5.84269302e-03 -8.26676389e-04 -1.78360482e-02
  2.70359794e-03  4.14859516e-03  1.55844391e-03  2.82768506e-01
  2.29433603e-03  6.89013114e-03  1.21074183e-02 -2.37228804e-01
  3.39802635e-02 -3.56970853e-02  7.33298443e-02  1.46221924e-02
  2.46237610e-02  1.78755104e-02  1.76043837e-02  2.39814813e-02
  5.74401891e-02 -3.71685847e-02  5.72790550e-02  1.84320891e-02
  3.21840000e-02  8.36129417e-02]
Intercept is:  [1.40594711]
Score is:  0.7865361580975474
Time taken to Evaluate:  0.2773873805999756

In [13]:
start = time.time()
X = df_train.to_numpy()
regr = SVR(kernel='poly',degree=4,max_iter=50000).fit(X,Y)
print("Score is: ",regr.score(X,Y))
end = time.time()
print("Time taken to Evaluate: ",end - start)

Score is:  0.8295976561461429
Time taken to Evaluate:  0.017046451568603516

In [14]:
start = time.time()
X = df_train.to_numpy()
regr = SVR(max_iter=50000).fit(X,Y)
print("Score is: ",regr.score(X,Y))
end = time.time()
print("Time taken to Evaluate: ",end - start)

Score is:  0.7843517203880761
Time taken to Evaluate:  0.0029916763305664062

In [ ]:
import matplotlib.pyplot as plt
# line 1 points
x1 = [10,20,30]
y1 = [78.65,82.95,78.43]
# plotting the line 1 points 
plt.plot(x1, y1, label = "line 1")
# line 2 points
x2 = [10,20,30]
y2 = [40,10,30]
# plotting the line 2 points 
plt.plot(x2, y2, label = "line 2")
plt.xlabel('x - axis')
# Set the y axis label of the current axis.
plt.ylabel('y - axis')
# Set a title of the current axes.
plt.title('Two or more lines on same plot with suitable legends ')
# show a legend on the plot
plt.legend()
# Display a figure.
plt.show()